<h1 align="center">Odabir interijera</h1>
<hr>

<div class="interior-container" align="center">
    <div class="interior-package">
      <img src="/assets/BasicInt.jpg">
      <h2>Osnovni paket</h2>
      <p class="subtitle">Platnena sjedala, ručna kontrola klimatizacije, tempomat, ventilacija stražnjeg
        dijela kabine, standardi Audi pre-sense, stražnja parkirna kamera, električni bočni retrovizori, satelitska
        navigacija, 6 zračnih jastuka
      </p>
      <p class="price">0€</p>
      <button class="button" (click)="selectInterior('Osnovni paket', 0)">Odabir</button>
    </div><br>

    <div class="interior-package">
      <img src="/assets/PlusInt.jpg">
      <h2>Audi Plus paket</h2>
      <p class="subtitle">Kožna grijana i hlađena sjedala, automatska trozonska klimatizacija (dodatna kontrola
        u stražnjem dijelu kabine), napredni Audi pre-sense, 360° kamera kod kretnje niskim brzinama, 
        automatski bočni retrovizori, senzori za razinu svjetla i kišu, LED rasvjeta, Bose ozvučenje
        kabine, 17" touchscreen ekran, hands-free tehnologija, 8 zračnih jastuka</p>
      <p class="price">2000€</p>
      <button class="button" (click)="selectInterior('Audi Plus paket', 2000)">Odabir</button>
    </div>
  </div>