<h1 align="center">Odabir naplataka</h1>
<hr>
<div class="rim-container">
    <h2 class="rim-size">17"</h2>
    <div class="rim-row">
        <div class="rim">
            <img src="https://mediaservice.audi.com/media/fast/H4sIAAAAAAAAAFvzloG1tIiBOTrayfuvpGh6-m1zJgaGigIGBgZGoDhTtNOaz-I_2DhCHsCEWxlYS0qLkvIZgewAJq7M3MT0VP2sgtR0fka-gqL8lNLkkpTUksTMnGJ2kCE8XxKV3hc_3ctXtM5wjtOcx-F2Gk0XGZgZGDgYQBhkCoOghgGRQJjdxTXE0dMnGADd4GG8uAAAAA?wid=90">
            <h2>Standardni čelični petokaki</h2>
            <p class="subtitle">Cijena: 0€</p>
            <button class="button" (click)="selectRim('Standardni čelični petokaki', 0)">Odabir</button>
        </div>
        <div class="rim">
            <img src="https://mediaservice.audi.com/media/fast/H4sIAAAAAAAAAFvzloG1tIiBOTrayfuvpGh6-m1zJgaGigIGBgZGoDhTtNOaz-I_2DhCHsCEWxlYS0qLkvIZgewAJq7M3MT0VP2sgtR0fka-gqL8lNLkkpTUksTMnGJ2kCE8S0OWM9zlDOWu21O35uEjqX0bco0vMjAzMHAwgDDIFAZBDQMigTC7i2uIo6dPMADF_LxXuAAAAA?wid=90">
            <h2>Dvobojni čelični petokraki</h2>
            <p class="subtitle">Cijena: 200€</p>
            <button class="button" (click)="selectRim('Dvobojni čelični petokraki', 200)">Odabir</button>
        </div>
        <div class="rim">
            <img src="https://mediaservice.audi.com/media/fast/H4sIAAAAAAAAAFvzloG1tIiBOTrayfuvpGh6-m1zJgaGigIGBgZGoDhTtNOaz-I_2DhCHsCEWxlYS0qLkvIZgewAJq7M3MT0VP2sgtR0fka-gqL8lNLkkpTUksTMnGJ2kCE85nN6fpgtXuzjvaiO9-Cniy_5toZIMzAzMHAwgDDIFAZBDQMigTC7i2uIo6dPMABV2zOJuAAAAA?wid=90">
            <h2>Sportski čelični petokraki</h2>
            <p class="subtitle">Cijena: 400€</p>
            <button class="button" (click)="selectRim('Sportski čelični petokraki', 400)">Odabir</button>
        </div>
    </div><br><hr>
    <h2 class="rim-size">18"</h2>
    <div class="rim-row">
        <div class="rim">
            <img src="https://mediaservice.audi.com/media/fast/H4sIAAAAAAAAAFvzloG1tIiBOTrayfuvpGh6-m1zJgaGigIGBgZGoDhTtNOaz-I_2DhCHsCEWxlYS0qLkvIZgewAJq7M3MT0VP2sgtR0fka-gqL8lNLkkpTUksTMnGJ2kCE897ld7-urnCrdEKSUNWN6l75z0-mPDMwMDBwMIAwyhUFQw4BIIMzu4hri6OkTDADE77yEuAAAAA?wid=90">
            <h2>Sportski brušeni sedmokraki</h2>
            <p class="subtitle">Cijena: 2000€</p>
            <button class="button" (click)="selectRim('Sportski brušeni sedmokraki', 2000)">Odabir</button>
        </div>
        <div class="rim">
            <img src="https://mediaservice.audi.com/media/fast/H4sIAAAAAAAAAFvzloG1tIiBOTrayfuvpGh6-m1zJgaGigIGBgZGoDhTtNOaz-I_2DhCHsCEWxlYS0qLkvIZgewAJq7M3MT0VP2sgtR0fka-gqL8lNLkkpTUksTMnGJ2kCE80rtap3cZ7fzYMMXLRn7STaaFEb16DMwMDBwMIAwyhUFQw4BIIMzu4hri6OkTDAD-iEAjuAAAAA?wid=90">
            <h2>Sportski aluminijski (crni)</h2>
            <p class="subtitle">Cijena: 2000€</p>
            <button class="button" (click)="selectRim('Sportski aluminijski (crni)', 2000)">Odabir</button>
        </div>
        <div class="rim">
            <img src="https://mediaservice.audi.com/media/fast/H4sIAAAAAAAAAFvzloG1tIiBOTrayfuvpGh6-m1zJgaGigIGBgZGoDhTtNOaz-I_2DhCHsCEWxlYS0qLkvIZgewAJq7M3MT0VP2sgtR0fka-gqL8lNLkkpTUksTMnGJ2kCE8X4xK9mt6FW6bsOrYVKHUnOn-Cx_cYGBmYOBgAGGQKQyCGgZEAmF2F9cQR0-fYACMyCNkuAAAAA?wid=90">
            <h2>Sportski dvostruki petokraki</h2>
            <p class="subtitle">Cijena: 2000€</p>
            <button class="button" (click)="selectRim('Sportski dvostruki petokraki', 2000)">Odabir</button>
        </div>
    </div><br><hr>
    <h2 class="rim-size">19"</h2>
    <div class="rim-row">
        <div class="rim">
            <img src="https://mediaservice.audi.com/media/fast/H4sIAAAAAAAAAFvzloG1tIiBOTrayfuvpGh6-m1zJgaGigIGBgZGoDhTtNOaz-I_2DhCHsCEWxlYS0qLkvIZgewAJq7M3MT0VP2sgtR0fka-gqL8lNLkkpTUksTMnGJ2kCE8Mr_O6JzTmvifbbfE71XiBfVVBSf3MzAzMHAwgDDIFAZBDQMigTC7i2uIo6dPMAAruMa-uAAAAA?wid=90">
            <h2>Audi Sport Petokraki matirani</h2>
            <p class="subtitle">Cijena: 2500€</p>
            <button class="button" (click)="selectRim('Audi Sport Petokraki matirani', 2500)">Odabir</button>
        </div>
        <div class="rim">
            <img src="https://mediaservice.audi.com/media/fast/H4sIAAAAAAAAAFvzloG1tIiBOTrayfuvpGh6-m1zJgaGigIGBgZGoDhTtNOaz-I_2DhCHsCEWxlYS0qLkvIZgewAJq7M3MT0VP2sgtR0fka-gqL8lNLkkpTUksTMnGJ2kCE8WwtlFS_MPjflRXHp3LOzvUL090ZPZmBmYOBgAGGQKQyCGgZEAmF2F9cQR0-fYAAfj5PNuAAAAA?wid=90">
            <h2>Audi Sport stil V aluminijski</h2>
            <p class="subtitle">Cijena: 3000€</p>
            <button class="button" (click)="selectRim('Audi Sport stil V aluminijski', 3000)">Odabir</button>
        </div>
        <div class="rim">
            <img src="https://mediaservice.audi.com/media/fast/H4sIAAAAAAAAAFvzloG1tIiBOTrayfuvpGh6-m1zJgaGigIGBgZGoDhTtNOaz-I_2DhCHsCEWxlYS0qLkvIZgewAJq7M3MT0VP2sgtR0fka-gqL8lNLkkpTUksTMnGJ2kCE8_57aKvZ912B5NGfCpNcneWr7lk9Yx8DMwMDBAMIgUxgENQyIBMLsLq4hjp4-wQDCLemkuAAAAA?wid=90">
            <h2>Audi Sport trostruki matirani čelični</h2>
            <p class="subtitle">Cijena: 3000€</p>
            <button class="button" (click)="selectRim('Audi Sport trostruki matirani čelični', 3000)">Odabir</button>
        </div>
    </div>
</div>
