<h1 align="center" ma-2>Aktualna ponuda</h1>
<hr>
<div class="car-list">
    <div class="car">
        <img src="/assets/A1.png">
        <h2>A1</h2>
        <p class="subtitle">Cijena: od 25.176,91€</p>
        <button (click)="selectCar('A1', 25176.91)">Konfiguracija</button>
    </div>
    <div class="car">
        <img src="/assets/A3.png">
        <h2>A3</h2>
        <p class="subtitle">Cijena: od 26.591,17€</p>
        <button (click)="selectCar('A3', 26591.17)">Konfiguracija</button>
    </div>
    <div class="car">
        <img src="/assets/A4.png">
        <h2>A4</h2>
        <p class="subtitle">Cijena: od 34.877,44€</p>
        <button (click)="selectCar('A4', 34877.44)">Konfiguracija</button>
    </div>
    <div class="car">
        <img src="/assets/A5.png">
        <h2>A5</h2>
        <p class="subtitle">Cijena: od 49.745,72€</p>
        <button (click)="selectCar('A5', 49745.72)">Konfiguracija</button>
    </div>
    <div class="car">
        <img src="/assets/A6.png">
        <h2>A6</h2>
        <p class="subtitle">Cijena: od 63.134,44€</p>
        <button (click)="selectCar('A6', 63134.44)">Konfiguracija</button>
    </div>
    <div class="car">
        <img src="/assets/A8.png">
        <h2>A8</h2>
        <p class="subtitle">Cijena: od 124.898,66€</p>
        <button (click)="selectCar('A1', 124898.66)">Konfiguracija</button>
    </div>
</div>