<h1 align="center">Odabir motora</h1>
<hr>
<div class="engines-container">
    <h2 class="engine-type">Benzinski motori</h2>
    <div class="engine-group">
      <div class="engine">
        <h2>35 TFSI</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Motorkontrollleuchte.svg/1200px-Motorkontrollleuchte.svg.png">
        <p class="specs">999 ccm</p>
        <p class="specs">81kw, 200Nm</p>
        <p class="specs">6.8 L/100km</p>
        <p class="price">0€</p>
        <button (click)="selectEngine('35 TFSI', 0)">Odabir</button>
      </div>
      <div class="engine">
        <h2>45 TFSI</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Motorkontrollleuchte.svg/1200px-Motorkontrollleuchte.svg.png">
        <p class="specs">1948 ccm</p>
        <p class="specs">150kw, 320Nm</p>
        <p class="specs">5.6 L/100km</p>
        <p class="price">4000€</p>
        <button (click)="selectEngine('45 TFSI', 4000)">Odabir</button>
      </div>
      <div class="engine">
        <h2>50 TFSI</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Motorkontrollleuchte.svg/1200px-Motorkontrollleuchte.svg.png">
        <p class="specs">1995 ccm</p>
        <p class="specs">210kw, 410Nm</p>
        <p class="specs">7.0 L/100km</p>
        <p class="price">7500€</p>
        <button (click)="selectEngine('50 TFSI', 7500)">Odabir</button>
      </div>
    </div><hr width=5000px>

    <h2 class="engine-type">Dizelski motori</h2>
    <div class="engine-group">
      <div class="engine">
        <h2>30 TDI</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Motorkontrollleuchte.svg/1200px-Motorkontrollleuchte.svg.png">
        <p class="specs">1968 ccm</p>
        <p class="specs">85 kW, 300 Nm</p>
        <p class="specs">3.5 l/100km</p>
        <p class="price">3000€</p>
        <button (click)="selectEngine('30 TDI', 3000)">Odabir</button>
      </div>
      <div class="engine">
        <h2>35 TDI</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Motorkontrollleuchte.svg/1200px-Motorkontrollleuchte.svg.png">
        <p class="specs">1968 ccm</p>
        <p class="specs">110 kW, 360 Nm</p>
        <p class="specs">3.7 l/100km</p>
        <p class="price">4000€</p>
        <button (click)="selectEngine('35 TDI', 4000)">Odabir</button>
      </div>
    </div>
  </div>
  