<h1 align="center">Odabir boja</h1>
<hr>

<div class="color-selection-container">
    <div class="color-section">
      <h2>Uni-boje</h2><hr>
      <div class="color-option">
        <img src="/assets/NardoGrey.jfif">
        <h3>Nardo siva</h3>
        <p class="subtitle">Type: Gloss</p>
        <p class="price">500€</p>
        <button class="select-button" (click)="selectColor('Nardo siva', 500)">Select</button>
      </div>
      <div class="color-option">
        <img src="/assets/TurboBlue.jfif">
        <h3>Turbo plava</h3>
        <p class="subtitle">Gloss</p>
        <p class="price">750€</p>
        <button class="select-button" (click)="selectColor('Gloss', 750)">Select</button>
      </div>
      <div class="color-option">
        <img src="/assets/IbisWhite.jfif">
        <h3>Ibis bijela</h3>
        <p class="subtitle">Gloss</p>
        <p class="price">0€</p>
        <button class="select-button" (click)="selectColor('Ibis bijela', 0)">Select</button>
      </div>
      <div class="color-option">
        <img src="/assets/KyalamiGreen.jfif">
        <h3>Kyalami zelena</h3>
        <p class="subtitle">Gloss</p>
        <p class="price">500€</p>
        <button class="select-button" (click)="selectColor('Kyalami zelena', 500)">Select</button>
      </div>
    </div><br><hr>

    <div class="color-section">
      <h2>Metalik</h2><hr>
      <div class="color-option">
        <img src="/assets/PythonYellow.jfif">
        <h3>Python žuta</h3>
        <p class="subtitle">Metallic</p>
        <p class="price">0€</p>
        <button class="select-button" (click)="selectColor('Python žuta', 0)">Select</button>
      </div>
      <div class="color-option">
        <img src="/assets/TangoRed.jfif">
        <h3>Tango crvena</h3>
        <p class="subtitle">Metallic</p>
        <p class="price">500€</p>
        <button class="select-button" (click)="selectColor('Tango crvena', 500)">Select</button>
      </div>
      <div class="color-option">
        <img src="/assets/NavarraBlue.jfif">
        <h3>Navarra plava</h3>
        <p class="subtitle">Metallic</p>
        <p class="price">1000€</p>
        <button class="select-button" (click)="selectColor('Navarra plava', 1000)">Select</button>
      </div>
    </div><br><hr>

    <div class="color-section">
      <h2>Metalik s bisernim efektom</h2><hr>
      <div class="color-option">
        <img src="/assets/DaytonaSilver.jfif">
        <h3>Daytona srebrna</h3>
        <p class="subtitle">Pearl</p>
        <p class="price">0€</p>
        <button class="select-button" (click)="selectColor('Daytona srebrna', 0)">Select</button>
      </div>
      <div class="color-option">
        <img src="/assets/ArrowGrey.jfif">
        <h3>Arrow siva</h3>
        <p class="subtitle">Pearl</p>
        <p class="price">1500€</p>
        <button class="select-button" (click)="selectColor('Arrow siva', 1500)">Select</button>
      </div>
    </div>
  </div>
  